body{
	text-align: center;
	font-family: 'Georgia', serif;
	line-height: 1.3;
	padding-top: 30px;
	background-color: #F5F5DC;
	color: #333;
	
	background-image: url('/Poetry/flower.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

h1{
	text-align: center;
	font-family: 'Georgia', serif;
	line-height: 1;
	padding-top: 50px;
	font-size: 3rem;
	color: #333;
}

p{
	font-size: 1.2rem;
	line-height: 1;
	margin-bottom; 30px;
	margin-top; 10px;
	white-space: pre-line;
}	

@media (max-width: 900px) {
	body{
		font-size: 1.15rem;
		padding: 40px 10%
	}
}

@media (600px){
	body{
		font-size: 0.95rem;
		line-height: 1.6;
		padding: 30px 5%;
	}
}

